@model  AspNetMvcActiveDirectoryOwin.Web.Common.Models.Settings.SettingModel
@{
    ViewBag.Title = Constants.MainPages.SettingEdit;
}

@using (Html.BeginForm("Edit", "Settings", FormMethod.Post, new { role = "form", autocomplete = "off" }))
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            <i class="fa fa-user" aria-hidden="true"></i> @ViewBag.Title
            <small><i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Setting list", "List")</small>
        </h1>
        <div class="pull-right">
            <button id="saveButton" type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
        </div>
    </div>

    @Html.AntiForgeryToken()
    @Html.Partial("_CreateOrUpdate", Model)
}