@{
    ViewBag.Title = Constants.MainPages.AccessDenied;
}

<section class="content-header clearfix">
    <h1><i class="fa fa-ban text-danger" aria-hidden="true"></i> @ViewBag.Title</h1>
</section>

<div class="content">
    <div class="alert alert-danger">@Constants.Messages.AccessDenied</div>
</div>