@{
    ViewBag.Title = Constants.MainPages.AdAccountNotFound;
}

<section class="content-header clearfix">
    <h1><i class="fa fa-address-card-o text-danger" aria-hidden="true"></i> @ViewBag.Title</h1>
</section>

<div class="content">
    <div class="alert alert-danger">@Constants.Messages.AdAccountNotFound</div>
</div>