@{
    ViewBag.Title = Constants.MainPages.AntiForgery;
}

<section class="content-header clearfix">
    <h1><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> @ViewBag.Title</h1>
</section>

<div class="content">
    <h3>
        You tried to submit the same page twice.
    </h3>
    <p>
        You appear to have submitted a page twice (often caused by pressing the back button and trying again).
    </p>
    <p>
        To avoid getting these errors, simply refresh the page containing the form you wish to submit and try again.
    </p>
</div>