@{
    ViewBag.Title = Constants.MainPages.PageNotFound;
}

<section class="content-header clearfix">
    <h1><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> @ViewBag.Title</h1>
</section>

<div class="content">
    @Constants.Messages.PageNotFound
</div>