<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />
    <link href="/Content/AdminLTE/AdminLTE.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/scripts")
</head>
<body class="container">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>