
@{
    ViewBag.Title = "Sample";
}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border clearfix">
                    <div class="box-title">
                        <i class="fa fa-newspaper-o"></i>
                        Sample Title
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            Sample page for User.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>