@model AspNetMvcActiveDirectoryOwin.Web.Common.Models.Users.UserCreateUpdateModel
@{
    ViewBag.Title = Constants.MainPages.UserCreate;
}

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { role = "form", id = "create-update-form", autocomplete = "off" }))
{
    <section class="content-header clearfix">
        <h1 class="pull-left">
            <i class="fa fa-user" aria-hidden="true"></i> @ViewBag.Title
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back to User list", "List")</small>
        </h1>
        <div class="pull-right">
            <button id="submit-button" type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
        </div>
    </section>

    @Html.Partial("_CreateOrUpdate", Model)
}
